* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
/*
font-family: 'Cookie', cursive;
font-family: 'Roboto', sans-serif;
*/
html {
  scroll-behavior: smooth;
}

body {
  font: 300 1.15rem Roboto;
  background-color: #e7e9ec;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 8rem 0rem 8rem 0rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

h1 {
  font: 600 4rem 'Cookie';
}

h2 {
  font: 600 6rem 'Cookie';
}
/* Cabeçalho */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

#cabecalho {
  background: white;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 100;
}

/*#cabecalho.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}*/

nav .menu ul {
  display: flex;
  gap: 2rem;
}

.logo {
  font: 400 3.5rem Cookie;
  color: rgb(199, 41, 67);
}

nav .menu ul li a {
  font: 600 1.4rem Roboto;
}

.title {
  padding-bottom: 3rem;
}
/* HOME */

#home {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 62, 91, 0.7010154403558299) 70%,
    rgba(199, 41, 67, 1) 100%
  );
  padding-top: 10rem;
}

#home .imagem img {
  border-radius: 2rem;
}

#home .text h1 {
  font: 600 6rem Cookie;
}

#home .container {
  display: flex;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

/* CROCHETEIRAS */

#crocheteiras {
  display: grid;
  text-align: center;
  background-color: rgb(199, 41, 67);
}

h3 {
  font: 500 1.5rem Roboto;
  padding-bottom: 1.5rem;
  justify-content: center;
}
.cards .grid {
  gap: 1rem;
}

.cards {
  grid-template-columns: 1fr 1fr;
}

.card img {
  height: 20rem;
  width: 20rem;
  border-radius: 0.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  text-align: center;
  height: 30rem;
  width: 30rem;
  background-color: white;
}

/* Tutoriais */

#tutoriais {
  display: grid;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 62, 91, 0.7010154403558299) 70%,
    rgba(199, 41, 67, 1) 100%
  );
}

#tutoriais .videos {
  grid-template-columns: 1fr 1fr;
}

/* NEWSLETTER */
#newsletter {
  background-color: rgb(255, 255, 255);
  padding-top: 4rem;
  text-align: center;
}

#newsletter h4 {
  font: 600 4rem Cookie;
  padding-bottom: 2rem;
}

#newsletter p {
  font-weight: bold;
}
/* FOOTER */
footer {
  background: rgb(255, 255, 255);
  display: flex;
}
