* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
/*
font-family: 'Cookie', cursive;
*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem verdana;
  background-color: #e7e9ec;
}

.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 5rem 0;
}

/* Cabeçalho */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

#cabecalho {
  background: white;
}

#cabecalho.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

nav .menu ul {
  display: flex;
  gap: 2rem;
}

.logo {
  font: 400 3.5rem Cookie;
  color: rgb(199, 41, 67);
}

nav .menu ul li a {
  font: 600 1rem verdana;
}
/* HOME */

#home .imagem img {
  border-radius: 2rem;
}

#home .text h1 {
  font: 600 5rem Cookie;
}

#home .container {
  margin: 0;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}
